* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block1,
.block4 {
  display: block;
  width: 100%;
  height: 200px;
}

.block1 {
  background-color: red;
  margin-bottom: 20px;
}

.block4 {
  background-color: yellow;
  margin-top: 20px;
}

.block-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.block2,
.block3 {
  width: calc((100% / 3) - 4px);
  height: 200px;
}

.block2 {
  background-color: green;
}
.block3 {
  background-color: purple;
}
